.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  border-radius: 40px;
}
.cell {
    align-self: center;
    text-align: center;
    color: aqua;
    font-size: 140px;
    border: solid aqua;
    border-radius: 40px;
    background-color: #412b33;
    width: 200px;
    height: 200px;
    box-shadow: inset 10px 10px 100px rgb(123, 187, 224);
  }
  .cell::before {
	border: 3px dotted #3a7999;
	color: #3a7999;
	background: rgba(0,0,0,0);
  }