.StyleButton {
    margin-top: 20px;
    border-radius: 20px;
    border: 3px solid aqua;
    background-color: #d66695;
    color: aliceblue;
    font-size: 40px;
    padding: 5px;
    margin-left: calc(50% / 2);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.StyleButton:hover {
  background-color: #4CAF50;
  color: white;
}
